<% if controller_name == 'collections'&& record.proquest_inputs %> 
  <% submission = proquest_submission(record) %>
  <% author_name = author_name(submission) %>
  <% author_contact = author_contact(submission) %>
  <% description = proquest_description(submission) %>
  <% categorization = categorization(description) %>
  <% content = proquest_content(submission) %>
  <table>
  <tbody>
    <tr>
      <th>Author Name</th>
    </tr>
    <% author_name.each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <tr>
      <th>Author Contact</th>
    </tr>
    <tr>
      <th>Contact Effective Date</th>
      <td><%= author_contact["DISS_contact_effdt"] %></td>
    </tr>
    <% author_phone_fax(author_contact).each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <% author_address(author_contact).each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <tr>
      <th>Email</th>
      <td><%= author_contact["DISS_email"] %></td>
    </tr>
    <tr>
      <th>Description</th>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= description["DISS_title"] %></td>
    </tr>
    <% dates(description).each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <tr>
      <th>Degree</th>
      <td><%= description["DISS_degree"] %></td>
    </tr>
    <% institution(description).each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <tr>
      <th>Advisor</th>
    </tr>
    <% advisor_name(description).each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
    <% end %>
    <tr>
      <th>Committee Members</th>
    </tr>
    <% cmte_members(description).each do |cmte_member| %>
      <% cmte_member["DISS_name"].each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
      <% end %>
    <% end %>
    <tr>
      <th>Categorizations</th>
    </tr>
    <tr>
      <th>Category</th>
    </tr>
    <% categorization["DISS_categories"].each do |category| %>
      <% category["DISS_category"].each do |k, v| %>
    <tr>
      <th><%= k.sub('DISS_', '') %></th>
      <td><%= v %></td>
    </tr>
      <% end %>
    <% end %>
    <tr>
      <th>Keyword</th>
      <td><%= categorization["DISS_keyword"] %></td>
    </tr>
    <tr>
      <th>Language</th>
      <td><%= categorization["DISS_language"] %></td>
    </tr>
    <tr>
      <th>Content</th>
    </tr>
    <tr>
      <th>Abstract</th>
      <td><%= content["DISS_abstract"]["DISS_para"] %></td>
    </tr>
    <tr>
      <th>Binary File</th>
      <td><%= content["DISS_binary"] %></td>
    </tr>
  </tbody>
  </table>
<% end %>
