<% if controller_name == 'collections' %>  
  <%= f.input :resource_type, as: :select_with_help, collection: Sufia.config.collection_resource_types,
    input_html: { class: 'form-control', multiple: true } %>
  <% if @collection.resource_type.include?("ProQuest ETD")  %>
    <div id="proquest_iputs">
    <% submission = proquest_submission(@collection) %>
  <% else %>
    <div id="proquest_inputs" class="hidden">
  <% end %>
    <label>Author</label><br/>
    <label>Name</label><br/>
    <label class="required" for="author_surname"><abbr title="required">*</abbr>Last Name</label>
    <input id="author_surname" name="author_surname" type="text" value='<%="#{author_name(submission)["DISS_surname"]}"%>' />
    <label class="required" for="author_fname"><abbr title="required">*</abbr>First Name</label>
    <input id="author_fname" name="author_fname" type="text" value='<%="#{author_name(submission)["DISS_fname"]}"%>' />
    <label for="author_mname">Middle Name</label>
    <input id="author_mname" name="author_mname" type="text" value='<%="#{author_name(submission)["DISS_middle"]}"%>' />
    <label for="author_suffix">Suffix</label>
    <input id="author_suffix" name="author_suffix" type="text" value='<%="#{author_name(submission)["DISS_suffix"]}"%>' /><br/>
    <% author_affiliation = Rails.configuration.x.author_affiliation %>
    <input id="author_affiliation" name="author_affiliation" type="hidden" value='<%="#{author_affiliation}"%>' /> <br/>
    <label>Contact</label><br/>
    <% contact = author_contact(submission) %>
    <label class="required" for="author_contact_effdt"><abbr title="required">*</abbr>Effective Date</label>
    <input id="author_contact_effdt" name="author_contact_effdt" type="date" value='<%="#{contact["DISS_contact_effdt"]}"%>' /><br/>
    <label>Phone</label><br/>
    <% author_phone_fax = author_phone_fax(contact) %>
    <label class="required" for="author_phone_cntry_code"><abbr title="required">*</abbr>Country Code</label>
    <input id="author_phone_cntry_code" name="author_phone_cntry_code" type="text" value='<%="#{author_phone_fax["DISS_cntry_cd"]}"%>' />
    <label class="required" for="author_phone_area_code"><abbr title="required">*</abbr>Area Code</label>
    <input id="author_phone_area_code" name="author_phone_area_code" type="text" value='<%="#{author_phone_fax["DISS_area_code"]}"%>' />
    <label for="author_phone_num">Phone Number</label>
    <input id="author_phone_num" name="author_phone_num" type="text" value='<%="#{author_phone_fax["DISS_phone_num"]}"%>' />
    <label for="author_phone_ext">Phone Extension</label>
    <input id="author_phone_ext" name="author_phone_ext" type="text" value='<%="#{author_phone_fax["DISS_phone_ext"]}"%>' /><br/>
    <label>Address</label><br/>
    <% author_address = author_address(contact) %>
    <label for="author_addrline">Address Line</label>
    <input id="author_addrline" name="author_addrline" type="text" value='<%="#{author_address["DISS_addrline"]}"%>' />
    <label for="author_city">City</label>
    <input id="author_city" name="author_city" type="text" value='<%="#{author_address["DISS_city"]}"%>' />
    <label for="author_st">Street</label>
    <input id="author_st" name="author_st" type="text" value='<%="#{author_address["DISS_st"]}"%>' />
    <label for="author_pcode">Postal Code</label>
    <input id="author_pcode" name="author_pcode" type="text" value='<%="#{author_address["DISS_pcode"]}"%>' />
    <label for="author_country">Country</label>
    <input id="author_country" name="author_country" type="text" value='<%="#{author_address["DISS_country"]}"%>' /><br/>
    <label class="required" for="author_email"><abbr title="required">*</abbr>E-mail</label>
    <input id="author_email" name="author_email" type="text" value='<%="#{contact["DISS_email"]}"%>' /><br/>
    <label>Description</label><br/>
    <% description = proquest_description(submission) %>
    <label>Dates</label><br/>
    <label for="comp_date">Complete Date</label>
    <input id="comp_date" name="comp_date" type="date" value='<%="#{dates(description)["DISS_comp_date"]}"%>' />
    <label for="accept_date">Accept Date</label>
    <input id="accept_date" name="accept_date" type="date" value='<%="#{dates(description)["DISS_accept_date"]}"%>' /><br/>
    <label class="required" for="degree"><abbr title="required">*</abbr>Degree</label>
    <%= select_tag "degree", options_for_select(Rails.configuration.x.degree_options, "#{description["DISS_degree"]}") %>
    <% inst_code = Rails.configuration.x.inst_code %>
    <% inst_name = Rails.configuration.x.inst_name %>
    <% inst_contact = Rails.configuration.x.inst_contact %>
    <input id="inst_code" name="inst_code" type="hidden" value='<%="#{inst_code}"%>' />
    <input id="inst_name" name="inst_name" type="hidden" value='<%="#{inst_name}"%>' />
    <input id="inst_contact" name="inst_contact" type="hidden" value='<%="#{inst_contact}"%>' /><br/>
    <label>Advisor</label><br/>
    <% advisor_name = advisor_name(description) %>
    <label class="required" for="advisor_surname"><abbr title="required">*</abbr>Last Name</label>
    <input id="advisor_surname" name="advisor_surname" type="text" value='<%="#{advisor_name["DISS_surname"]}"%>' />
    <label class="required" for="advisor_fname"><abbr title="required">*</abbr>First Name</label>
    <input id="advisor_fname" name="advisor_fname" type="text" value='<%="#{advisor_name["DISS_fname"]}"%>' />
    <label for="advisor_mname">Middle Name</label>
    <input id="advisor_mname" name="advisor_mname" type="text" value='<%="#{advisor_name["DISS_mname"]}"%>' />
    <label for="advisor_suffix">Suffix</label>
    <input id="advisor_suffix" name="advisor_suffix" type="text" value='<%="#{advisor_name["DISS_suffix"]}"%>' /><br/>
    <input id="advisor_affiliation" name="advisor_affiliation" type="hidden" value='<%="#{author_affiliation}"%>' /> <br/>
    <div id="cmte_member">
      <label>Committee Members</label>
      <% cmte_members(description).each_with_index do |cmte_member, idx| %>
        <% cmte_member_name = cmte_member_name(cmte_member) %>
        <div id='<%= "cmte_member_name_#{idx}"%>'>
          <label for='<%= "cmte_surname_#{idx}"%>'>Last Name</label>
          <input id='<%= "cmte_surname_#{idx}"%>' name='<%= "cmte_surname_#{idx}"%>' type="text" value='<%="#{cmte_member_name["DISS_surname"]}"%>' />
          <label for='<%= "cmte_fname_#{idx}"%>'>First Name</label>
          <input id='<%= "cmte_fname_#{idx}"%>' name='<%= "cmte_fname_#{idx}"%>' type="text" value='<%="#{cmte_member_name["DISS_fname"]}"%>' />
          <label for='<%= "cmte_mname_#{idx}"%>'>Middle Name</label>
          <input id='<%= "cmte_mname_#{idx}"%>' name='<%= "cmte_mname_#{idx}"%>' type="text" value='<%="#{cmte_member_name["DISS_mname"]}"%>' />
          <label for='<%= "cmte_suffix_#{idx}"%>'>Suffix</label>
          <input id='<%= "cmte_suffix_#{idx}"%>' name='<%= "cmte_suffix_#{idx}"%>' type="text" value='<%="#{cmte_member_name["DISS_suffix"]}"%>' /><br/>
          <label for='<%= "cmte_affiliation_#{idx}"%>'>Affiliation</label>
          <input id='<%= "cmte_affiliation_#{idx}"%>' name='<%= "cmte_affiliation_#{idx}"%>' type="text" value='<%="#{cmte_member_name["DISS_affiliation"]}"%>' />
        </div>
      <% end %>
    </div>
    <p><button type="button" name="submit" onclick="add_cmte_member();">Add Committee Member</button></p>
    <label>Categorizations</label><br/>
    <div id="categorization">
    <label>Categories</label>
    <% categorization = categorization(description) %>
    <% categories(categorization).each_with_index do |category, idx| %>
      <% cat = category(category) %>
      <div id='<%= "proquest_category_#{idx}"%>'>
        <label for='<%= "cat_code_#{idx}"%>'>Category Code</label>
        <input id='<%= "cat_code_#{idx}"%>' name='<%= "cat_code_#{idx}"%>' type="text" value='<%="#{cat["DISS_cat_code"]}"%>' /><br/>
        <label for='<%= "cat_desc_#{idx}"%>'>Category Description</label>
        <input id='<%= "cat_desc_#{idx}"%>' name='<%= "cat_desc_#{idx}"%>' type="text" value='<%="#{cat["DISS_cat_desc"]}"%>' />
      </div>
    <% end %>
    </div>
    <p><button type="button" name="submit" onclick="add_category();">Add Category</button></p>
    <input id="main_etd_pdf" name="main_etd_pdf" type="hidden" value='<%="#{@collection.main_etd_filename}"%>' /> <br/>
  </div>

<% else %>
  <%= f.input :resource_type, as: :select_with_help, collection: Sufia.config.file_resource_types,
    input_html: { class: 'form-control', multiple: true } %>
<% end %>

