<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @user.name %>,</h3>
    <p>
      We are sorry to inform you that bad xml markup was detected in one of your files uploaded to ETDPlus.
      The potential problems are: <%= @parsing_errors %>.
      The file in question was named <%= @file_name %>.
    </p>
    <p>
    For further information, please contact us through our contact form, at <%= root_url %>contact
    </p>
    <p> The specific contact information is listed as follows:
      <table>
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= t('xml_mail.name') %></td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td><%= t('xml_mail.email') %></td>
          </tr>
          <tr>
            <th scope="row">Phone</th>
            <td><%= t('xml_mail.phone') %></td>
          </tr>
          <tr>
            <th scope="row">Twitter</th>
            <td><%= t('xml_mail.twitter') %></td>
          </tr>
          <tr>
            <th scope="row">Room Number</th>
            <td><%= t('xml_mail.room_number') %></td>
          </tr>
          <tr>
            <th scope="row">Hours</th>
            <td><%= t('xml_mail.hours') %></td>
          </tr>
          <tr>
            <th scope="row">Other Information</th>
            <td><%= t('xml_mail.other_info') %></td>
          </tr>
        </tbody>
      </table>
    </p>
    <p>The ETDPlus Team</p>
  </body>
</html>
